<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="title-card">Animated Progress Bar</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" style="height:10px;" [style.width]="porcentaje1" role="progressbar">
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h4 class="title-card">Animated Progress Bar</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" style="height:10px;" [style.width]="porcentaje2" role="progressbar">
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (valorSalida)="progress1 = $event" [valor]="progress1"></app-incrementador>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (valorSalida)="progress2 = $event" [BtnClass]="'btn btn-info'" [valor]="progress2"></app-incrementador>
            </div>
        </div>
    </div>

</div>